<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chernikovichandreygmail">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:name="com.chernikovichandreygmail.util.ExampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presenter.screen.Menu">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presenter.screen.lesson1.Swap" />
        <activity android:name=".presenter.screen.lesson2.Flags" />
        <activity android:name=".presenter.screen.lesson3.Picture" />
        <activity android:name=".presenter.screen.lesson4.Main" />
        <activity android:name=".presenter.screen.lesson5.Wifi" />
        <activity android:name=".presenter.screen.lesson6.WifiControl" />
        <service android:name=".presenter.screen.lesson6.ServiceWifi" />
        <activity android:name=".presenter.screen.lesson7.LessonSevenActivityMain"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".presenter.screen.lesson9.TimerActivity" />
        <activity android:name=".presenter.screen.lesson10.InfoActivity" />

    </application>

</manifest>